h1 {
    font-size: 20px;
}

header {
    height: 100vh;
    background-color: #eee;
    background-image: url(https://www.infinity.co/assets/intelligently-matching-electric-charge-header.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }